<div class="container">

  <div>
    <a
      routerLink="../headphones"
      routerLinkActive=""
      ariaCurrentWhenActive="page"
      class="container__link"
    >
      <img
        ngSrc="assets/images/shared/desktop/image-category-thumbnail-headphones.png"
        width="438"
        height="422"
        class="container__img"
        priority
        alt=""
      />
      headphones
      <span
      >shop
            <img
              ngSrc="assets/images/shared/desktop/icon-arrow-right.svg"
              width="8"
              height="12"
              class="arrow"
              alt=""
            /></span>
    </a>
  </div>
  <div>
    <a
      routerLink="../speakers"
      routerLinkActive=""
      ariaCurrentWhenActive="page"
      class="container__link"
    >
      <img
        ngSrc="assets/images/shared/desktop/image-category-thumbnail-speakers.png"
        width="438"
        height="408"
        class="container__img"
        priority
        alt=""
      />
      speakers
      <span
      >shop
          <img
            ngSrc="assets/images/shared/desktop/icon-arrow-right.svg"
            width="8"
            height="12"
            class="arrow"
            alt=""
          /></span>
    </a>
  </div>
  <div>
    <a
      routerLink="../earphones"
      routerLinkActive=""
      ariaCurrentWhenActive="page"
      class="container__link"
    >
      <img
        ngSrc="assets/images/shared/desktop/image-category-thumbnail-earphones.png"
        width="438"
        height="380"
        class="container__img container__img-earphone "
        priority
        alt=""
      />
      earphones
      <span
      >shop
          <img
            ngSrc="assets/images/shared/desktop/icon-arrow-right.svg"
            width="8"
            height="12"
            class="arrow"
            alt=""
          /></span>
    </a>
  </div>
</div>
