<div class="footer">
  <div class="footer__nav">
    <a
      routerLink="home"
      routerLinkActive=""
      ariaCurrentWhenActive="page"
      (click)="scrollToTop()"
    >
      <img
        ngSrc="assets/images/shared/desktop/logo.svg"
        width="143"
        height="25"
        alt="Home - Audiophile"
        priority
        class="footer__logo"
      />
    </a>

    <ul class="nav">
      <li>
        <a
          routerLink="home"
          routerLinkActive=""
          ariaCurrentWhenActive="page"
          (click)="scrollToTop()"
          >home</a
        >
      </li>
      <li>
        <a
          routerLink="headphones"
          routerLinkActive=""
          ariaCurrentWhenActive="page"
          (click)="scrollToTop()"
          >headphones</a
        >
      </li>
      <li>
        <a
          routerLink="speakers"
          routerLinkActive=""
          ariaCurrentWhenActive="page"
          (click)="scrollToTop()"
          >speakers</a
        >
      </li>
      <li>
        <a
          routerLink="earphones"
          routerLinkActive=""
          ariaCurrentWhenActive="page"
          (click)="scrollToTop()"
          >earphones</a
        >
      </li>
    </ul>
  </div>
  <div class="grid-area">
    <p class="footer__description">
      Audiophile is an all in one stop to fulfill your audio needs. We're a
      small team of music lovers and sound specialists who are devoted to
      helping you get the most out of personal audio. Come and visit our demo
      facility - we’re open 7 days a week.
      <span>Copyright 2021. All Rights Reserved</span>
    </p>

    <div class="footer__socials">
      <a href="">
        <img
          ngSrc="assets/images/shared/desktop/icon-facebook.svg"
          alt="Audiophile facebook"
          height="24"
          width="24"
      /></a>
      <a href="">
        <img
          ngSrc="assets/images/shared/desktop/icon-twitter.svg"
          alt="Audiophile twitter"
          height="20"
          width="24"
      /></a>
      <a href="">
        <img
          ngSrc="assets/images/shared/desktop/icon-instagram.svg"
          alt="Audiophile instagram"
          height="24"
          width="24"
      /></a>
    </div>
  </div>
</div>
