<div class="banner__container">
  <div class="banner">
    <div class="banner__content">
      <h1 class="banner__heading">
        <span> New product </span> XX99 Mark II&NewLine;Headphones
      </h1>
      <p class="banner__description">
        Experience natural, lifelike audio and exceptional build quality made for
        the passionate music enthusiast.
      </p>

      <a routerLink="../xx99ii" class="banner__anchor"> See product </a>
    </div>

    <img ngSrc="assets/images/home/desktop/image-hero.jpg" height="1458" width="2880" alt="" class="banner__image">

  </div>
</div>
