<div class="banner__container">
  <div class="banner">
    <div class="banner__content">
      <h1 class="banner__heading">
        <span> New product </span> XX99 Mark II&NewLine;Headphones
      </h1>
      <p class="banner__description">
        Experience natural, lifelike audio and exceptional build quality made
        for the passionate music enthusiast.
      </p>

      <a routerLink="../xx99ii" class="banner__anchor"> See product </a>
    </div>
  </div>
</div>

<div class="bg-white">
  <app-main-links></app-main-links>
  <div class="zx9">
    <picture>
      <source
        srcset="assets/images/home/desktop/image-speaker-zx9-d.png"
        media="(min-width: 75em)"
      />
      <source
        srcset="assets/images/home/tablet/image-speaker-zx9-t.png"
        media="(min-width: 43em)"
      />
      <img
        ngSrc="assets/images/home/mobile/image-speaker-zx9.png"
        width="320"
        height="388"
        alt="A black Zx9 speaker with a modern look, featuring a flat top and a textured band encircling the base."
        class="zx9__image"
        priority
      />
    </picture>
    <div class="zx9__content">
      <h2 class="zx9__title">zx9&NewLine;speaker</h2>
      <p class="zx9__description">
        Upgrade to premium speakers that are phenomenally built to deliver truly
        remarkable sound.
      </p>
      <a routerLink="../zx9" class="zx9__anchor">See Product</a>
    </div>
  </div>

  <div class="zx7">
    <h2 class="zx7__title title">zx7 speaker</h2>
    <a routerLink="../zx7" class="zx7__anchor product-anchor">See Product</a>
  </div>

  <div class="yx1">
    <picture>
      <source
        srcset="assets/images/home/desktop/image-earphones-yx1-d.jpg"
        media="(min-width: 75em)"
      />
      <source
        srcset="assets/images/home/tablet/image-earphones-yx1-t.jpg"
        media="(min-width: 43em)"
      />
      <img
        ngSrc="assets/images/home/mobile/image-earphones-yx1.jpg"
        width="654"
        height="400"
        alt="A pair of black wireless earbuds resting in a black charging case. The earbuds have a sleek, in-ear design. There is a small, white 'S' printed on the side of each earbud."
        class="yx1__image"
        priority
      />
    </picture>
    <div class="yx1__content">
      <h2 class="yx1__title title">yx1 earphones</h2>
      <a routerLink="../yx1" class="yx1__anchor product-anchor">See Product</a>
    </div>
  </div>
</div>
