:root {
  --clr-primary: hsl(21, 65%, 57%);
  --crl-primary-hover: hsl(22, 93%, 75%);
  --clr-black-900: hsl(0, 0%, 0%);
  --clr-black-700: hsl(0, 0%, 5%);
  --clr-white-900: hsl(0, 0%, 100%);
  --clr-white-800: hsl(0, 0%, 98%);
  --clr-white-700: hsl(0, 0%, 94%);
  --border: 1px solid hsl(0, 0%, 100%,.2);
}
