@mixin anchor {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 10.2rem;
  padding: 0.94rem 1.84rem 0.94rem 1.97rem;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
