<div class="product">
  <div>
    <a href="javascript:history.back()" class="product__anchor">Go Back</a>

    <picture>
      <source
        srcset="assets/images/product-zx7-speaker/desktop/image-product.jpg"
        media="(min-width: 75em)"
      />
      <source
        srcset="assets/images/product-zx7-speaker/tablet/image-product.jpg"
        media="(min-width: 43em)"
      />
      <img
        ngSrc="assets/images/product-zx7-speaker/mobile/image-product.jpg"
        width="654"
        height="654"
        alt="A dark grey zx7 speaker resting on a white background."
        class="product__img"
      />
    </picture>
  </div>
  <div>
    <h1 class="product__header">zx7 speaker</h1>

    <p class="product__description">
      Stream high quality sound wirelessly with minimal to no loss. The ZX7
      speaker uses high-end audiophile components that represents the top of the
      line powered speakers for home or studio use.
    </p>

    <p aria-label="Price: 3,500 US dollars" class="product__price">$ 3,500</p>

    @if (quantity === 0) {
    <button (click)="addToCart()" class="product__btn">Add to Cart</button>
    } @else {
    <div class="product__btn">
      <button
        [attr.aria-label]="
          'Decrease quantity dark grey Zx7 speaker, Current quantity ' +
          quantity
        "
        (click)="decreaseQuantity()"
        class="decrease__btn"
      >
        -
      </button>
      <span> <span class="sr-only">quantity:</span>{{ quantity }}</span>
      <button
        [attr.aria-label]="
          'Increase quantity dark grey Zx7 speaker, Current quantity ' +
          quantity
        "
        (click)="increaseQuantity()"
        class="increase__btn"
      >
        +
      </button>
    </div>
    }
  </div>
</div>

<div class="info">
  <div>
    <h2 class="info__title">features</h2>
    <p class="info__description">
      Reap the advantages of a flat diaphragm tweeter cone. This provides a fast
      response rate and excellent high frequencies that lower tiered bookshelf
      speakers cannot provide. The woofers are made from aluminum that produces
      a unique and clear sound. XLR inputs allow you to connect to a mixer for
      more advanced usage.
      <span>
        The ZX7 speaker is the perfect blend of stylish design and high
        performance. It houses an encased MDF wooden enclosure which minimises
        acoustic resonance. Dual connectivity allows pairing through bluetooth
        or traditional optical and RCA input. Switch input sources and control
        volume at your finger tips with the included wireless remote. This
        versatile speaker is equipped to deliver an authentic listening
        experience.</span
      >
    </p>
  </div>
  <div>
    <h2 class="info__title">in the box</h2>
    <p class="info__list">
      <span class="list-item"><span>2x</span>Speaker Unit</span>
      <span class="list-item"><span>2x</span>Speaker Cloth Panel</span>
      <span class="list-item"><span>1x</span>User Manual</span>
      <span class="list-item"><span>1x</span>3.5mm 7.5m Audio Cable</span>
      <span class="list-item"><span>1x</span>7.5m Optical Cable</span>
    </p>
  </div>
</div>

<div class="gallery">
  <picture class="img-1">
    <source
      srcset="assets/images/product-zx7-speaker/desktop/image-gallery-1.jpg"
      media="(min-width: 75em)"
    />
    <source
      srcset="assets/images/product-zx7-speaker/tablet/image-gallery-1.jpg"
      media="(min-width: 43em)"
    />
    <img
      ngSrc="assets/images/product-zx7-speaker/mobile/image-gallery-1.jpg"
      width="654"
      height="348"
      alt=""
      class="gallery__img"
    />
  </picture>
  <picture class="img-2">
    <source
      srcset="assets/images/product-zx7-speaker/desktop/image-gallery-2.jpg"
      media="(min-width: 75em)"
    />
    <source
      srcset="assets/images/product-zx7-speaker/tablet/image-gallery-2.jpg"
      media="(min-width: 43em)"
    />
    <img
      ngSrc="assets/images/product-zx7-speaker/mobile/image-gallery-2.jpg"
      width="654"
      height="348"
      alt=""
      class="gallery__img"
    />
  </picture>

  <picture class="img-3">
    <source
      srcset="assets/images/product-zx7-speaker/desktop/image-gallery-3.jpg"
      media="(min-width: 75em)"
    />
    <source
      srcset="assets/images/product-zx7-speaker/tablet/image-gallery-3.jpg"
      media="(min-width: 43em)"
    />
    <img
      ngSrc="assets/images/product-zx7-speaker/mobile/image-gallery-3.jpg"
      width="654"
      height="736"
      alt=""
      class="gallery__img"
    />
  </picture>
</div>
