@if(menuOpened || cartOpened){
<div class="overlay" (click)="cartOpened = false; menuOpened = false"></div>
}

<header [class.black]="home.isActive">
  <div class="flex-group">
    <button
      class="menu-btn"
      aria-controls="menu"
      aria-label="menu"
      [attr.aria-expanded]="menuOpened"
      (click)="toggleMenu()"
    >
      <img
        [ngSrc]="
          menuOpened
            ? 'assets/images/shared/mobile/icon-close.svg'
            : 'assets/images/shared/mobile/icon-hamburger.svg'
        "
        width="20"
        height="20"
        alt=""
        priority
      />
    </button>
    <a
      routerLink="home"
      routerLinkActive=""
      #home="routerLinkActive"
      ariaCurrentWhenActive="page"
      class="logo"
    >
      <img
        ngSrc="assets/images/shared/desktop/logo.svg"
        width="143"
        height="25"
        alt="Home - Audiophile"
        priority
      />
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li>
          <a routerLink="home" routerLinkActive="" ariaCurrentWhenActive="page"
            >home</a
          >
        </li>
        <li>
          <a
            routerLink="headphones"
            routerLinkActive=""
            ariaCurrentWhenActive="page"
            >headphones</a
          >
        </li>
        <li>
          <a
            routerLink="speakers"
            routerLinkActive=""
            ariaCurrentWhenActive="page"
            >speakers</a
          >
        </li>
        <li>
          <a
            routerLink="earphones"
            routerLinkActive=""
            ariaCurrentWhenActive="page"
            >earphones</a
          >
        </li>
      </ul>
    </nav>
    <button
      aria-label="cart"
      aria-controls="cart"
      [attr.aria-expanded]="cartOpened"
      (click)="toggleCart()"
      class="cart"
    >
      <img
        ngSrc="assets/images/shared/desktop/icon-cart.svg"
        width="23"
        height="20"
        alt=""
      />
      <span class="quantity"><span class="sr-only">total quantity:</span>{{ totalQuantity }}</span>
    </button>
  </div>
  <div id="cart" class="cart-modal" [attr.data-visible]="cartOpened">
    <app-cart></app-cart>
  </div>
  <div class="menu" id="menu" [attr.data-visible]="menuOpened">
    <app-main-links></app-main-links>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<a
  routerLink="checkout"
  routerLinkActive=""
  #checkout="routerLinkActive"
  ariaCurrentWhenActive="page"
  style="display: none"
>
</a>

@if(!home.isActive && !checkout.isActive){
<app-main-links></app-main-links>
<app-shared-card></app-shared-card>
}

<footer>
  <app-footer></app-footer>
</footer>
